force-app/main/default/flows/Assignment_Operators.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Addition_Assignement</name>
        <label>Addition Assignement</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Result_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cube_Root_Operation</name>
        <label>Cube Root Operation</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cubeRoots</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_5_of_Result_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Divison_Operation</name>
        <label>Divison Operation</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>div</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Result_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Multiplication_Operation</name>
        <label>Multiplication Operation</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mul</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Result_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Square_Root_Operation</name>
        <label>Square Root Operation</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sqRoot</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Result_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtraction_Assignment</name>
        <label>Subtraction Assignment</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Result_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Addition</name>
        <choiceText>Addition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Addition</stringValue>
        </value>
    </choices>
    <choices>
        <name>CubeRoot</name>
        <choiceText>CubeRoot</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CubeRoot</stringValue>
        </value>
    </choices>
    <choices>
        <name>Divison</name>
        <choiceText>Divison</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Divison</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multiplication</name>
        <choiceText>Multiplication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multiplication</stringValue>
        </value>
    </choices>
    <choices>
        <name>Square_Root</name>
        <choiceText>Square Root</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Square Root</stringValue>
        </value>
    </choices>
    <choices>
        <name>Subtraction</name>
        <choiceText>Subtraction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Subtraction</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Operator</name>
        <label>Check Operator</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Cube_Root_Operation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cube Root</defaultConnectorLabel>
        <rules>
            <name>Addition_Operator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operators_to_perform_Calculations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Addition</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Addition_Assignement</targetReference>
            </connector>
            <label>Addition Operator</label>
        </rules>
        <rules>
            <name>Subtract_Operator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operators_to_perform_Calculations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Subtraction</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtraction_Assignment</targetReference>
            </connector>
            <label>Subtract Operator</label>
        </rules>
        <rules>
            <name>Multiplication_Operator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operators_to_perform_Calculations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Multiplication</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiplication_Operation</targetReference>
            </connector>
            <label>Multiplication Operator</label>
        </rules>
        <rules>
            <name>Divison_Operator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operators_to_perform_Calculations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Divison</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Divison_Operation</targetReference>
            </connector>
            <label>Divison Operator</label>
        </rules>
        <rules>
            <name>Square_Root_Operator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operators_to_perform_Calculations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Square_Root</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Square_Root_Operation</targetReference>
            </connector>
            <label>Square Root Operator</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>add</name>
        <dataType>Number</dataType>
        <expression>{!First_Number} + {!Second_Number}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>cubeRoots</name>
        <dataType>Number</dataType>
        <expression>( {!First_Number} + {!Second_Number} ) * ( {!First_Number} + {!Second_Number} ) *  ( {!First_Number} + {!Second_Number} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>div</name>
        <dataType>Number</dataType>
        <expression>{!First_Number} / {!Second_Number}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>mul</name>
        <dataType>Number</dataType>
        <expression>{!First_Number} * {!Second_Number}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>sqRoot</name>
        <dataType>Number</dataType>
        <expression>( {!First_Number} + {!Second_Number} ) * ( {!First_Number} + {!Second_Number} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>sub</name>
        <dataType>Number</dataType>
        <expression>{!First_Number} - {!Second_Number}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Assignment Operators {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment Operators</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Copy_1_of_Result_Screen</name>
        <label>Copy 1 of Result Screen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Operators_to_calculate</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Display_Result</name>
            <fieldText>&lt;p&gt;The Result for &lt;strong&gt;{!Operators_to_perform_Calculations}&lt;/strong&gt; is &lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!result}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Result_Screen</name>
        <label>Copy 2 of Result Screen</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Operators_to_calculate</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Display_Result</name>
            <fieldText>&lt;p&gt;The Result for &lt;strong&gt;{!Operators_to_perform_Calculations}&lt;/strong&gt; is &lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!result}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Result_Screen</name>
        <label>Copy 3 of Result Screen</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Operators_to_calculate</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Display_Result</name>
            <fieldText>&lt;p&gt;The Result for &lt;strong&gt;{!Operators_to_perform_Calculations}&lt;/strong&gt; is &lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!result}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_Result_Screen</name>
        <label>Copy 4 of Result Screen</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Operators_to_calculate</targetReference>
        </connector>
        <fields>
            <name>Copy_4_of_Display_Result</name>
            <fieldText>&lt;p&gt;The Result for &lt;strong&gt;{!Operators_to_perform_Calculations}&lt;/strong&gt; is &lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!result}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_Result_Screen</name>
        <label>Copy 5 of Result Screen</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Operators_to_calculate</targetReference>
        </connector>
        <fields>
            <name>Copy_5_of_Display_Result</name>
            <fieldText>&lt;p&gt;The Result for &lt;strong&gt;{!Operators_to_perform_Calculations}&lt;/strong&gt; is &lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!result}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inputs_for_Operations</name>
        <label>Inputs for Operations</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Operator</targetReference>
        </connector>
        <fields>
            <name>First_Number</name>
            <dataType>Number</dataType>
            <fieldText>First Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>1</scale>
        </fields>
        <fields>
            <name>Second_Number</name>
            <dataType>Number</dataType>
            <fieldText>Second Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Operators_to_calculate</name>
        <label>Operators to calculate</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Inputs_for_Operations</targetReference>
        </connector>
        <fields>
            <name>Operators_to_perform_Calculations</name>
            <choiceReferences>Addition</choiceReferences>
            <choiceReferences>Subtraction</choiceReferences>
            <choiceReferences>Multiplication</choiceReferences>
            <choiceReferences>Divison</choiceReferences>
            <choiceReferences>Square_Root</choiceReferences>
            <choiceReferences>CubeRoot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Operators to perform Calculations</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Operators_to_calculate</targetReference>
        </connector>
        <fields>
            <name>Display_Result</name>
            <fieldText>&lt;p&gt;The Result for &lt;strong&gt;{!Operators_to_perform_Calculations}&lt;/strong&gt; is &lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!result}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Operators_to_calculate</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>result</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
</Flow>
