force-app/main/default/flows/Clone_Lead_from_Contact_by_Screen_Components.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_lead</name>
        <label>Navigate to lead</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <actionName>c:Navigate_To_Lead_Record</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varRLead.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:Navigate_To_Lead_Record</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Values_to_Lead</name>
        <label>Assign Contact Values to Lead</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varRLead.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name.salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <description>This flow creates a lead record by cloning the contact record using screen components in the screen and assigning the contact data to the lead record.</description>
    <dynamicChoiceSets>
        <name>campaignRecords</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>source</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Clone Lead from Contact by Screen Components {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Lead from Contact by Screen Components</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Navigate_to_lead</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Campaign_Member</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>varRLead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Campaign_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>varRLead</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Fields_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Campaign_Screen</name>
        <label>Campaign Screen</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Campaign_Member</targetReference>
        </connector>
        <fields>
            <name>Campaign_Member</name>
            <choiceReferences>campaignRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add lead to Campaign</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 14, 14); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Fields_Screen</name>
        <label>Lead Fields Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Contact_Values_to_Lead</targetReference>
        </connector>
        <fields>
            <name>Lead_Fields_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Fields_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>Get_Contact.FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>Get_Contact.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Company</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Account.Name</elementReference>
                    </defaultValue>
                    <fieldText>Company</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Contact.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Contact.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Tite</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Title</elementReference>
                    </defaultValue>
                    <fieldText>Tite</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Fields_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead_Address</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Get_Contact.MailingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>Get_Contact.MailingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>Get_Contact.MailingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>Get_Contact.MailingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>Get_Contact.MailingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputProvinceOptions</name>
                        <value>
                            <stringValue>Andhra Pradesh, Arunachal Pradesh, Assam, Bihar, Chhattisgarh, Goa, Gujarat, Haryana, Himachal Pradesh, Jharkhand, Karnataka, Kerala, Madhya Pradesh, Maharashtra, Manipur, Meghalaya, Mizoram, Nagaland, Odisha, Punjab, Rajasthan, Sikkim, Tamil Nadu, Telangana, Tripura, Uttar Pradesh, Uttarakhand, West Bengal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputCountryOptions</name>
                        <value>
                            <stringValue>Afghanistan, Australia, Bangladesh, Bhutan, Brunei, Cambodia, China, Fiji, India, Indonesia, Japan, Kiribati, Laos, Malaysia, Maldives, Marshall Islands, Micronesia, Mongolia, Myanmar (Burma), Nauru, Nepal, New Zealand, North Korea, Pakistan, Palau, Papua New Guinea, Philippines, Samoa, Singapore, Solomon Islands, South Korea, Sri Lanka, Taiwan, Thailand, Timor-Leste (East Timor), Tonga, Tuvalu, Vanuatu, Vietnam</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Lead_Source</name>
                    <choiceReferences>source</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.LeadSource</elementReference>
                    </defaultValue>
                    <fieldText>Lead Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fax</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Fax</elementReference>
                    </defaultValue>
                    <fieldText>Fax</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!Get_Contact.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
