force-app/main/default/flows/Clone_Lead_from_Contact_by_Record_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Values_to_Lead</name>
        <label>Assign Contact Values to Lead</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varRLead.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Fields_Screen</targetReference>
        </connector>
    </assignments>
    <description>This flow creates a lead record by cloning the contact record using lead record fields in the screen and assigning the contact data to the lead record.</description>
    <dynamicChoiceSets>
        <name>source</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Clone Lead from Contact by Record Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Lead from Contact by Record Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>varRLead</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Values_to_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 14, 14); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Fields_Screen</name>
        <label>Lead Fields Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
        <fields>
            <name>Lead_Fields_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Fields_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varRLead.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varRLead.Company</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varRLead.Phone</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varRLead.Title</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Fields_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varRLead.Address</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varRLead.LeadSource</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varRLead.Email</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>varRLead.Description</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;The record was created Successfully.&lt;/p&gt;&lt;p&gt;Lead Name : &lt;a href=&quot;https://d5i00000cgbfieat-dev-ed.develop.lightning.force.com/lightning/r/Lead/{!varRLead.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!varRLead.FirstName} {!varRLead.LastName}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
