force-app/main/default/flows/Clone_Lead_Record_by_Autolaunch_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_values_to_Lead_record</name>
        <label>Set values to Lead record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>vaRrLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRrLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRrLead.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRrLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRrLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRrLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRrLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRrLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRrLead.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRrLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRrLead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRrLead.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRrLead.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRrLead.Fax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Fax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Clone Lead Record by Autolaunch Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Lead Record by Autolaunch Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputReference>vaRrLead</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_values_to_Lead_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaRrLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
