force-app/main/default/flows/Create_Multiple_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_assignments_to_list</name>
        <label>Add assignments to list</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varOppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRopp1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpp2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpp3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>First_Record</name>
        <label>First Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varRopp1.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRopp1.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRopp1.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRopp1.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRopp1.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Second_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Second_Opportunity</name>
        <label>Second Opportunity</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varOpp2.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp2.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp2.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp2.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp2.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Third_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Third_Record</name>
        <label>Third Record</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varOpp3.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp3.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp3.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp3.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needs Analysis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp3.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_assignments_to_list</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>closeDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Create Multiple Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Multiple Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>varLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>First_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>Amount_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Records</name>
        <label>Create Opportunity Records</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <inputReference>varOppList</inputReference>
    </recordCreates>
    <screens>
        <name>Screen_to_give_input</name>
        <label>Screen to give input</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
        <fields>
            <name>Name_1</name>
            <dataType>String</dataType>
            <fieldText>Name 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Name_2</name>
            <dataType>String</dataType>
            <fieldText>Name 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Name_3</name>
            <dataType>String</dataType>
            <fieldText>Name 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Close_Date_1</name>
            <dataType>Date</dataType>
            <fieldText>Close Date 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Close_Date_2</name>
            <dataType>Date</dataType>
            <fieldText>Close Date 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Close_Date_3</name>
            <dataType>Date</dataType>
            <fieldText>Close Date 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Amount_1</name>
            <dataType>Currency</dataType>
            <fieldText>Amount 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Amount_2</name>
            <dataType>Currency</dataType>
            <fieldText>Amount 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Amount_3</name>
            <dataType>Currency</dataType>
            <fieldText>Amount 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_to_give_input</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpp2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOpp3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varRopp1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
