force-app/main/default/flows/Decision_Element.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Industry_and_Rating</name>
        <label>Check Industry and Rating</label>
        <locationX>446</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Check_Industry_and_Rating_and_Ownership_Public</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Industry_Agriculture_Rating_Got</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounts.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agriculture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Accounts.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Industry_Agriculture_and_Rating_Hot</targetReference>
            </connector>
            <label>Industry Agriculture &amp; Rating Got</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Industry_and_Rating_and_Ownership_Public</name>
        <label>Check Industry and Rating and Ownership Public</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Industry_Agriculture_Rating_Hot_Ownership_Public</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounts.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agriculture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Accounts.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Accounts.Ownership</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Industry_Agriculture_and_Rating_Hot_and_Ownership_Public</targetReference>
            </connector>
            <label>Industry Agriculture &amp; Rating Hot &amp; Ownership Public</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Industry_field_value</name>
        <label>Check Industry field value</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Industry_Education</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Education</defaultConnectorLabel>
        <rules>
            <name>Agriculture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounts.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agriculture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Industry_Agriculture</targetReference>
            </connector>
            <label>Agriculture</label>
        </rules>
        <rules>
            <name>Banking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounts.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Banking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Industry_Banking</targetReference>
            </connector>
            <label>Banking</label>
        </rules>
        <rules>
            <name>Energy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounts.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Energy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Industry_Energy</targetReference>
            </connector>
            <label>Energy</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Decision Element {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Decision Element</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Industry_field_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Industry</queriedFields>
        <queriedFields>Rating</queriedFields>
        <queriedFields>Ownership</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Industry_Agriculture</name>
        <label>Industry Agriculture</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Industry_and_Rating</targetReference>
        </connector>
        <fields>
            <name>Industry_Field</name>
            <fieldText>&lt;p&gt;The industry of the Account is  &lt;strong&gt;{!Get_Accounts.Industry}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;The Name of the Account is  &lt;strong&gt;{!Get_Accounts.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Industry_Agriculture_and_Rating_Hot</name>
        <label>Industry Agriculture and Rating Hot</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Industry_and_Rating_and_Ownership_Public</targetReference>
        </connector>
        <fields>
            <name>Copy_4_of_Industry_Field</name>
            <fieldText>&lt;p&gt;The industry of the Account is  &lt;strong&gt;{!Get_Accounts.Industry}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Rating of the Account is &lt;strong&gt;{!Get_Accounts.Rating}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Name of the Account is  &lt;strong&gt;{!Get_Accounts.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Industry_Agriculture_and_Rating_Hot_and_Ownership_Public</name>
        <label>Industry Agriculture and Rating Hot and Ownership Public</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_4_of_Industry_Field</name>
            <fieldText>&lt;p&gt;The industry of the Account is  &lt;strong&gt;{!Get_Accounts.Industry}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Rating of the Account is &lt;strong&gt;{!Get_Accounts.Rating}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Name of the Account is  &lt;strong&gt;{!Get_Accounts.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Ownership of the Account is&lt;strong&gt;{!Get_Accounts.Ownership}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Industry_Banking</name>
        <label>Industry Banking</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Industry_and_Rating</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Industry_Field</name>
            <fieldText>&lt;p&gt;The industry of the Account is  &lt;strong&gt;{!Get_Accounts.Industry}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;The Name of the Account is  &lt;strong&gt;{!Get_Accounts.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Industry_Education</name>
        <label>Industry Education</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Industry_and_Rating</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Industry_Field</name>
            <fieldText>&lt;p&gt;The industry of the Account is  &lt;strong&gt;{!Get_Accounts.Industry}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;The Name of the Account is  &lt;strong&gt;{!Get_Accounts.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Industry_Energy</name>
        <label>Industry Energy</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Industry_and_Rating</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Industry_Field</name>
            <fieldText>&lt;p&gt;The industry of the Account is  &lt;strong&gt;{!Get_Accounts.Industry}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;The Name of the Account is  &lt;strong&gt;{!Get_Accounts.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
