force-app/main/default/flows/Email_Subscription_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Email_Subscriptions_to_Collection_Variable</name>
        <label>Assign Email Subscriptions to Collection Variable</label>
        <locationX>534</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>varTEmailLists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Email_Subscriptions.Email_List__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Email_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will assign values to the Email Subscription record</description>
        <name>Assign_values_for_Email_Subscription</name>
        <label>Assign values for Email Subscription</label>
        <locationX>270</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>varREmailSubscription.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varREmailSubscription.Email_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Email_List_To_be_subscribed.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varREmailSubscription.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Email_List_To_be_subscribed.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varREmailSubscription.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Email_List_To_be_subscribed.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRCemailSubscriptionCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varREmailSubscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Email_List_To_be_subscribed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Email_List_Record_Selected_or_Not</name>
        <label>Check Email List Record Selected or Not</label>
        <locationX>446</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>Check_for_Email_Subscription_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Selected_and_add_it_to_the_Email_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Subscribtion_not_Done.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Email_List_To_be_subscribed</targetReference>
            </connector>
            <label>Yes, Selected and add it to the Email Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_List_records_Exist_or_Not</name>
        <label>Check Email List records Exist or Not</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Check_Email_List_Record_Selected_or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Email_List_Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_List_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Subscription_Screen</targetReference>
            </connector>
            <label>Email List Records Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will check weather Email Subscription Records available or not for Contact record</description>
        <name>Check_Email_Subscriptions_Exist_or_Null</name>
        <label>Check Email Subscriptions Exist or Null</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Existing_Email_Subscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Subscription_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Email_Subscriptions</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Email_Subscription_records</name>
        <label>Check for Email Subscription records</label>
        <locationX>446</locationX>
        <locationY>2234</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Records_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Subscription_Done.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Email_Subscription_records</targetReference>
            </connector>
            <label>Yes,Records available</label>
        </rules>
        <rules>
            <name>No_Records_not_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Subscription_Done.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Success_Screen</targetReference>
            </connector>
            <label>No Records not available</label>
        </rules>
    </decisions>
    <description>This will use to check the email subscriptions for the Contact</description>
    <environments>Default</environments>
    <interviewLabel>Email Subscription Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Subscription Manager</label>
    <loops>
        <name>Loop_Email_List_To_be_subscribed</name>
        <label>Loop Email List To be subscribed</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <collectionReference>Email_Subscribtion_not_Done.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_for_Email_Subscription</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Email_Subscription_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Email_Subscriptions</name>
        <label>Loop Email Subscriptions</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <collectionReference>Get_Email_Subscription_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Email_Subscriptions_to_Collection_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Email_List_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>This will create a list/single Email Subscription record which we have subscribe from data table</description>
        <name>Create_Email_Subscription_Records</name>
        <label>Create Email Subscription Records</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Check_for_Email_Subscription_records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Handling_Subflow</targetReference>
        </faultConnector>
        <inputReference>varRCemailSubscriptionCollector</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Email_Subscription_records</name>
        <label>Delete Email Subscription records</label>
        <locationX>50</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handling_Subflow</targetReference>
        </faultConnector>
        <inputReference>Email_Subscription_Done.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>This query will fetch the Contact records</description>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Subscription_records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Handling_Subflow</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch Email List records which are not a part of Contact records</description>
        <name>Get_Email_List_records</name>
        <label>Get Email List records</label>
        <locationX>446</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Email_List_records_Exist_or_Not</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Handling_Subflow</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>varTEmailLists</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Email_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch the Email Subscription records which are part of Contact</description>
        <name>Get_Email_Subscription_records</name>
        <label>Get Email Subscription records</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Email_Subscriptions_Exist_or_Null</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Handling_Subflow</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Email_Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Success_Screen</name>
        <label>Copy 1 of Success Screen</label>
        <locationX>578</locationX>
        <locationY>2354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Subscription</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(32, 228, 41);&quot;&gt;Your Email Subscription has been done successfully&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Subscription_Screen</name>
        <label>Email Subscription Screen</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Email_List_Record_Selected_or_Not</targetReference>
        </connector>
        <fields>
            <name>Email_Subscription_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Email_Subscription_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_Subscribtion_not_Done</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Email_List__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email Subscribed to be done for the Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Email_List_records</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c0ef&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Email List Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Subscriptions__c&quot;,&quot;guid&quot;:&quot;column-2a60&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Subscriptions&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>3.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_List_Records_Exist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Email_Subscription_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Email_Subscription_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_Subscription_Done</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Email_Subscription__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email_Subscription_Done</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Email_Subscription_records</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-bcf8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Subscription Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-af36&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>3.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Exist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Update Subscription</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Email_Subscriptions</name>
        <label>Existing Email Subscriptions</label>
        <locationX>446</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Email_Subscriptions</targetReference>
        </connector>
        <fields>
            <name>Email_Subscriptions</name>
            <fieldText>Email Subscriptions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Email_Subscriptions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subscriptions_Datatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Email_Subscription__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Email_Subscription_records</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>3.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c826&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Subscription Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-89a9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Exist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Exist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Existing_Email_Subscriptions_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_Email_Subscriptions_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Manage_Subscription</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Click Manage Subscription to add or Remove Subscription&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Exist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Email_Subscription</name>
            <fieldText>Email Subscription</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Email_Subscription_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;This Contact doesn&apos;t have any Email Subscription&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Exist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Exist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Manage Subscription</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>2474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Unsubscription</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(202, 10, 10); font-size: 14px;&quot;&gt;You have unsubscribed our Email Subscription successfully&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Email_Subscription_Done.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Records</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Error_Handling_Subflow</name>
        <label>Error Handling Subflow</label>
        <locationX>314</locationX>
        <locationY>2474</locationY>
        <flowName>Error_Handling_with_Rollback_Subflow</flowName>
        <inputAssignments>
            <name>errorMessageFromParent</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRCemailSubscriptionCollector</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Email_Subscription__c</objectType>
    </variables>
    <variables>
        <name>varREmailSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Email_Subscription__c</objectType>
    </variables>
    <variables>
        <name>varTEmailLists</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
