force-app/main/default/flows/Invocable_ApexClass_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Class</name>
        <label>Apex Class</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>Invocable_Method_ScreenFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>args</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Invocable_Method_ScreenFlow</nameSegment>
        <outputParameters>
            <assignToReference>opportunityRecord</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <description>This will fetch the highest Amount of opportunity record for the account</description>
    <environments>Default</environments>
    <interviewLabel>Invocable_ApexClass_Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invocable_ApexClass_Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Screen</name>
        <label>Display Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_OpportunityData</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Opportunity Name : &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!opportunityRecord.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Opportunity Amount : &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!opportunityRecord.Amount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Opportunity CloseDate : &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!opportunityRecord.CloseDate}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Opportunity Stage : &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!opportunityRecord.StageName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cool</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Apex_Class</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>opportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
