force-app/main/default/flows/Loop_by_Collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_value_to_variable</name>
        <label>Assign value to variable</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Color</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Collection_variable</name>
        <label>Assign values to Collection variable</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>textCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Red</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Yellow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Red</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Blue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Green</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_Number_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Number_Collection</name>
        <label>Assign values to Number Collection</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>numCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>40.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Loop by Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loop by Collection</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>numCollector</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_value_to_variable</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Color</name>
        <label>Display Color</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <fields>
            <name>Color</name>
            <fieldText>&lt;p&gt;Number: {!varNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_values_to_Collection_variable</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>numCollector</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>textCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
