force-app/main/default/flows/Loop_Element.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>userRecord.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Header_to_Html_Table</name>
        <label>Add Header to Html Table</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>htmlTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>htmlHeader</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Task_Collector</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Html_row_to_Html_Table</name>
        <label>Add Html row to Html Table</label>
        <locationX>138</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>htmlTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>htmlTableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Task_Collector</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Task_Instance</name>
        <label>Assignment for Task Instance</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject_For_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Opportunities_Null</name>
        <label>Check For Opportunities Null</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>No_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subject_For_Task_Instance</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>htmlTableRow</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td style=&quot;border: 1px solid black;border-collapse: collapse; padding: 10px;&quot;&gt;&apos; + TEXT({!Loop_Task_Collector.ActivityDate}) +
&apos;&lt;/td&gt;&lt;td style=&quot;border: 1px solid black;border-collapse: collapse; padding: 10px;&quot;&gt;&apos; + {!Loop_Task_Collector.Description} + 
&apos;&lt;/td&gt;&lt;td style=&quot;border: 1px solid black;border-collapse: collapse; padding: 10px;&quot;&gt;&apos; + TEXT({!Loop_Task_Collector.Priority}) + 
&apos;&lt;/td&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <interviewLabel>Loop Element {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loop Element on Opp and Task</label>
    <loops>
        <name>Loop_Opps</name>
        <label>Loop Opps</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_for_Task_Instance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Task_Collector</name>
        <label>Loop Task Collector</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <collectionReference>taskCollector</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Html_row_to_Html_Table</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Task</name>
        <label>Task</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>taskCollector</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Account_Records</name>
        <label>Account Records</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Opportunities_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>No_Opportunities</name>
        <label>No Opportunities</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(24, 48, 51);&quot;&gt;The Account &lt;/span&gt;&lt;strong style=&quot;color: rgb(24, 48, 51);&quot;&gt;{!Account_Records.Name} &lt;/strong&gt;&lt;span style=&quot;color: rgb(24, 48, 51);&quot;&gt;doesn&apos;t have any Opportunity with Closed Lost Stage.&lt;/span&gt;&lt;span style=&quot;color: rgb(47, 56, 54);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cool</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Subject_For_Task_Instance</name>
        <label>Subject For Task Instance</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
        <fields>
            <name>Subject_For_Task</name>
            <dataType>String</dataType>
            <fieldText>Subject For Task</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Header_to_Html_Table</targetReference>
        </connector>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(56, 46, 83);&quot;&gt;The task record was created successfully!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Task_Manager_User_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Task_Manager_User_Record</name>
        <label>Task Manager User Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Account_Records</targetReference>
        </connector>
        <flowName>Task_Manager_User_Id_Sub_Flow</flowName>
        <inputAssignments>
            <name>roleDeveloperName</name>
            <value>
                <stringValue>Task_Manager</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>userRecord</assignToReference>
            <name>varUserRecord</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi&lt;strong&gt; {!userRecord.FirstName} {!userRecord.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The below tasks are assigned to you, please work on them ASAP.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!htmlTable}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thank You&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Salesforce Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!userRecord.FirstName} {!userRecord.LastName} You have assigned few tasks</text>
    </textTemplates>
    <textTemplates>
        <name>taskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Account Name is {!Account_Records.Name} and Opportunity Name is {!Loop_Opps.Name} Please check the deletion on this</text>
    </textTemplates>
    <variables>
        <name>htmlHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;tr&gt;  &lt;th style=&quot;border:1px solid black; border-collapse: collapse; padding:10px;&quot;&gt;Task DueDate&lt;/th&gt;   &lt;th style=&quot;border:1px solid black; border-collapse: collapse; padding:10px;&quot;&gt;Description&lt;/th&gt;  &lt;th style=&quot;border:1px solid black; border-collapse: collapse; padding:10px;&quot;&gt;Priority&lt;/th&gt;&lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>htmlTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%;border:1px solid black;border-collapse: collapse;padding:10px;&quot;&gt;&lt;/table&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskCollector</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>userRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
