force-app/main/default/flows/PFT_Subscribe_to_Employee_Info_Platform_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Platfrom_event_values_to_Employee_Record</name>
        <label>Assign Platfrom event values to Employee Record</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>varEmployee.Elgible_for_Promotion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Promotion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployee.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployee.Experience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Experience__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployee.Salary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Salary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployee.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployee.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployee.Probation_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Probation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmployee.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Employee_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Employee_Id</name>
        <label>Check Employee Id</label>
        <locationX>182</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmployee.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Yes, Exist</label>
        </rules>
    </decisions>
    <description>This flow will Subscribe to the Employee Info Platform Event</description>
    <environments>Default</environments>
    <interviewLabel>PFT : Subscribe to Employee Info Platform Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PFT : Subscribe to Employee Info Platform Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Employee_Record</name>
        <label>Create Employee Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Check_Employee_Id</targetReference>
        </connector>
        <inputReference>varEmployee</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>varEmployee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salary__c</field>
            <value>
                <elementReference>varEmployee.Salary__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Platfrom_event_values_to_Employee_Record</targetReference>
        </connector>
        <object>Employee_Info__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vaeContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varEmployee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
</Flow>
