force-app/main/default/flows/RTF_After_Save_Account_record_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Emails</name>
        <label>Send Email</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Record has been Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailContext</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>This flow will create the Contact and Opportunity records associated to the Account record.</description>
    <environments>Default</environments>
    <interviewLabel>RTF:After Save : Account record creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF:After Save : Account record creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>Account {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.AnnualRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Opportunity {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <filterFormula>AND  ( 
        OR  ( ISPICKVAL( {!$Record.Industry}, &apos;Banking&apos;),
                 ISPICKVAL( {!$Record.Industry}, &apos;Energy&apos;)
              ),
           ISPICKVAL( {!$Record.Type}, &apos;Prospect&apos;)
         )</filterFormula>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Send_Email</name>
            <connector>
                <targetReference>Send_Emails</targetReference>
            </connector>
            <label>Send Email</label>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>emailContext</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The following are the account details&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Account Name:&lt;/strong&gt;{!$Record.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Account Rating&lt;/strong&gt;:{!$Record.Rating}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Account Industry:&lt;/strong&gt;{!$Record.Industry}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Account Id:&lt;/strong&gt;&lt;a href=&quot;https://lwc2023troop-dev-ed.develop.lightning.force.com/lightning/r/Account/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Id}&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
</Flow>
