force-app/main/default/flows/RTF_AS_Delete_OTMembers_When_Opp_Lost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>This flow will delete the Opportunity Team Members, Opportunity Contact Role and Related Open Tasks when the Opportunity StageName is updated to Closed Lost</description>
    <environments>Default</environments>
    <interviewLabel>RTF : AS : Delete OTMembers When Opp Lost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF : AS : Delete OTMembers When Opp Lost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Opportunity_Contact_Role_Records</name>
        <label>Delete Opportunity Contact Role Records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Delete_Opportunity_Team_Member_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Technical Buyer</stringValue>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Opportunity_Team_Member_Records</name>
        <label>Delete Opportunity Team Member Records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Delete_Task_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sales Rep</stringValue>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Task_Records</name>
        <label>Delete Task Records</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
    </recordDeletes>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Opportunity_Contact_Role_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
