force-app/main/default/flows/Send_Email_When_Contact_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sp1Send_Email_to_Contact</name>
        <label>Contact.Send_Email_to_Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Contact.Send_Email_to_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Send_Email_to_Contact</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>Migrated from the: Send Email When Contact Created workflow rule
Workflow rule description: &quot;</description>
    <formulas>
        <name>Update_fieldFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY( ) + 30</expression>
    </formulas>
    <label>Send Email When Contact Created</label>
    <migratedFromWorkflowRuleName>Send Email When Contact Created</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Update_fieldFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>mainUpdate</targetReference>
        </connector>
        <filterFormula>ISPICKVAL ({!$Record.LeadSource}, &quot;Web&quot;)</filterFormula>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>ScheduledPath1</name>
            <connector>
                <targetReference>sp1Send_Email_to_Contact</targetReference>
            </connector>
            <label>ScheduledPath1</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
