force-app/main/default/flows/SF_Query_all_Email_Templates_from_Email_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>This flow will fetch all the Email templates from the Folder</description>
    <dynamicChoiceSets>
        <name>emailTemplates</name>
        <collectionReference>emailTemplatesList</collectionReference>
        <dataType>String</dataType>
        <displayField>DeveloperName</displayField>
        <object>EmailTemplate</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SF : Query all Email Templates from Email Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF : Query all Email Templates from Email Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Email_Folder_from_Folder_Object</name>
        <label>Get Email Folder from Folder Object</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Templates_from_Email_Template_Object</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Folder</stringValue>
            </value>
        </filters>
        <object>Folder</object>
        <outputReference>varFolder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Templates_from_Email_Template_Object</name>
        <label>Get Email Templates from Email Template Object</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Template_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FolderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFolder.Id</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>emailTemplatesList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <screens>
        <name>Email_Template_Screen</name>
        <label>Email Template Screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Email_Tempates</name>
            <choiceReferences>emailTemplates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Email Tempates</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>704</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Email_Folder_from_Folder_Object</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>emailTemplatesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>varFolder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Folder</objectType>
    </variables>
</Flow>
